.close-auth {
  position: absolute;
  right: 20px;
  top: 10px;
  transition: color 0.3s;
  background-color: rgb(230, 52, 105);
  padding: 3px 13px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  z-index: 9999;
}

.close-auth:hover {
  color: var(--primary-white);
}

.close-auth {
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px rgb(155, 20, 61);
  transition: all 0.2s ease;
}

.close-auth:active {
  box-shadow: 0px 2px rgb(155, 20, 61);
  transform: translateY(4px);
}

.close-card-button {
  top: -10px;
  right: 0px;
}

@media only screen and (width <= 766px) {
  .close-card-button {
    top: -10px;
    right: 0;
    border-radius: 3px;
  }
}
