#haboutme {
  margin-left: 20px;
}

.divAboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    border-radius: 5px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .aboutMe {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    text-align: center;

    p {
      margin: 10px;
      width: 50%;
      strong {
        font-size: 20px;
      }
    }
  }
  img {
    width: auto;
  }
}

@media only screen and (width <= 766px) {
  #haboutme {
    margin: 20px 0;
    text-align: center;
    text-shadow: 0 2px 2px var(--primary-blue);
    color: var(--primary-blue);
  }
  .divAboutMe {
    h2 {
      margin-top: 20px;
    }
    img {
      width: 90%;
    }
    .aboutMe > p {
      width: 100%;
      font-size: 0.8em;
    }
    margin-bottom: 50px;
  }
}
