#blog {
    margin: auto;
    margin-top: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    width: 80%;
    
    .cardBlog {
      margin-top: 5px;
      animation: reveal linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 30%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: var(--secondary-white);
      color: var(--primary-black);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #ddd;
      border-radius: 10px;
      height: 330px;
      width: 300px;
      text-align: start;
      padding-top: 10px;
      a{
        display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      }
      a > p {
        margin: 0;
        width: 90%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        text-wrap: pretty;
      }
      a > img {
        height: 160px;
        width: 160px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
}

