.bgBanner{
  position: absolute;
  background-color: var(--primary-yellow);
  width: 100%;
  height: 680px;
  z-index: -10;
}

#banner{
  width: 100%;
  box-shadow: 5px 5px 5px var(--secondary-blue);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2{
    align-self: self-start;
    margin-left: 100px;
    animation: reveal linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 30%;
  }

  #mainTitle {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    padding: 100px 100px 0 100px;
    margin-top: 100px;
    text-align: center;
    #title {
      text-shadow: 0 2px 2px var(--primary-blue);
      color: var(--primary-blue);
    }
    p{
      width: 100%;
      text-align: center;
      margin: auto;
      text-wrap: pretty;
      font-style: italic;
    }
  }
} 

/* Moviles */
@media only screen and (width <= 767px) {
  main{
    #mainTitle{
      padding: 0;
      margin-top: 50px;
      font-size: 15px;
      text-wrap: pretty;
      h1{
        font-size: 40px;
      }
    }
  }
}