.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  max-width: 400px;
  margin: 200px auto 200px auto;
  background-color: var(--secondary-white);
  color: var(--primary-black);
  
  h2 {
      align-self: center;
      margin: 0;
  }

  p   {
      align-self: flex-start;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    resize: none;
    width: 90%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  textarea{
    height: 70px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
}