main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2{
    align-self: self-start;
    margin-left: 100px;
  }

  .banner{
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #mainTitle {
    padding: 100px;
    text-align: center;
    #title {
      color: var(--primary-blue);
    }
    p{
      width: 80%;
      text-align: center;
      margin: auto;
    }
  }
} 

@media only screen and (width <= 767px) {
  #root{
    width: 380px;
  }
  main{
    #mainTitle{
      padding: 50px 10px;
    }
    h1{
      font-size: 20px;
    }
  }
}