.mainAccount {
  background-color: var(--primary-white);
  height: 100vh;
  width: 100vw;
  .profile {
    img,
    svg {
      width: 100px;
      height: 100px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    list-style-type: none;
    margin-right: 50px;
    li {
      margin-bottom: 10px;
    }
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-left: 10px;
    color: var(--primary-black);
    width: 210px;
  }

  input:focus {
    outline: none;
    box-shadow: none;
  }

  button {
    display: none;
  }
  section {
    margin-top: 50px;
  }
  h3 {
    margin-left: 20px;
  }
}

@media only screen and (width <= 767px) {
  .mainAccount {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    ul {
      padding-left: 0;
      margin-right: 30px;
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ddd;
      margin-left: 10px;
      color: var(--primary-black);
      width: 210px;
    }

    input:focus {
      outline: none;
      box-shadow: none;
    }

    button {
      display: none;
    }
    section {
      margin-top: 50px;
    }
    h3 {
      margin-left: 20px;
    }
  }
}
