.publicationMain {
  padding: 20px;
  .publication {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      align-self: center;
      margin: 0;
    }
    strong {
      align-self: center;
      text-align: center;
    }
  }
  p {
    margin: 20px;
    strong {
      font-size: 20px;
    }
  }
}

@media only screen and (width <= 767px) {
  .publicationMain {
    img {
      width: 90%;
    }
    p {
      width: 100%;
      strong {
        font-size: 30px;
      }
    }
  }
}
