.publicationMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  .publication {
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      align-self: center;
      margin: 0;
    }
    strong {
      align-self: center;
      text-align: center;
    }
  }
  p {
    margin: 20px;
    strong {
      font-size: 20px;
    }
  }
}

@media only screen and (width <= 767px) {
  .publicationMain {
    .publication {
      width: 100%;
      h2 {
        margin: 25px 0;
        text-align: center;
      }
      img {
        width: 100%;
      }
      p {
        width: 100%;
        strong {
          font-size: 30px;
        }
      }
    }
  }
}
