footer {
  text-align: start;
  background-color: var(--primary-black);
  height: 20dvh;
  width: 100vw;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid transparent;
  a {
    transition: color 0.2s;
    color: aliceblue;
    text-decoration: none;
    &:hover {
      color: var(--primary-blue);
    }
  }
  .svgIcons {
    margin-right: 10px;
    height: 25px;
    width: 25px;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
  }
}

@media only screen and (width <= 766px) {
  footer {
    section {
      padding-left: 12px;
      width: 50vw;
      font-size: 15px;
      .svgIcons {
        width: 20px;
        height: 20px;
      }
    }
  }
}
