:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-blue: #2b65e2;
  --secondary-blue: #87d9ff;
  --primary-white: #f0faff;
  --secondary-white: #ffffff;
  --secondary-white: rgb(228, 239, 255);
  --primary-black: #242424;
  --primary-yellow: #ffbd59;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
  margin-top: 200px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-blue);
}
li{
  transition: color 0.25s;
}

button:hover {
  border-color: var(--primary-blue);
}
svg{
  transition: color 0.25s;
}
svg:hover {
  color: var(--primary-blue);
}
li:hover {
  color: var(--primary-blue);
}

@keyframes reveal {
  from{
    opacity: 0;
    translate: 0 50px;
  } to {
    opacity: 1;
    translate: 0 0;
  }
}

/* Estilos para tema claro */
html.light {
  background-color: var(--primary-white);
  color: var(--primary-black);
  transition: background-color 0.3s ease, color 0.1s ease;
  header {
    background-color: var(--primary-white);
    transition: background-color 0.3s ease, color 0.1s ease;
    nav > ul > li a {
      color: var(--primary-black);
    }
    #modalLanguajes {
      a {
        color: var(--primary-white);
      }
      background-color: var(--primary-black);
    }
    .menuLeft{
      background-color: var(--primary-white);
      color: var(--primary-black);
    }
  }
  body {
    background: linear-gradient(to bottom, transparent 0%, transparent 80%, var(--secondary-blue) 100%, transparent 100%);
  }
}

/* Estilos para tema oscuro */
html.dark {
  background-color: var(--primary-black);
  color: var(--primary-white);
  transition: background-color 0.3s ease, color 0.1s ease;
  main {
    #blog > .cardBlog {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.234);
    }
    .divPracing > .cardPracing{
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.234);
    }
    #contactForm{
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.234);
    }
    #mainTitle > #title{
      text-shadow: 0 2px 2px var(--primary-blue);
    }
  }
  header {
    background-color: var(--primary-black);
    transition: background-color 0.3s ease, color 0.1s ease;
    nav > ul > li a {
      color: var(--primary-white);
    }
    #modalLanguajes {
      a {
        color: var(--primary-black);
      }
      background-color: var(--primary-white);
    }
    .modalAuth{
      color: var(--primary-white);
      background-color: var(--primary-black);
    }
    .googleAuth{
      border: 2px solid var(--primary-white);
    }
    .menuLeft{
      background-color: var(--primary-black);
      color: var(--primary-white);
    }
  }
  footer{
    border-top: 1px solid #ddd;
  }
}

@media (width <= 768px) {
  #banner,#contactForm, #haboutme {
    scroll-margin-top: 100px;
  }
  #blog{
    scroll-margin-top: 350px;
  }
  #hprices{
    scroll-margin-top: 100px;
  }
  #reviews{
    scroll-margin-top: 200px;
  }
}

@media (width >= 1200px) {
  #banner, #haboutme {
    scroll-margin-top: 100px;
  }
  
  #blog{
    scroll-margin-top: 400px;
  }
  
  #hprices{
    scroll-margin-top: 250px;
  }

  #contactForm{
    scroll-margin-top: 200px;
  }

  #reviews{
    scroll-margin-top: 300px;
  }
}
