.comments {
  width: 100%;
  padding: 20px 0;
  padding-left: 25%;
  background-color: var(--secondary-white);

  u h3 {
    padding-left: 10px;
  }
  textarea {
    background-color: var(--primary-white);
    border: 1px solid #ddd;
    resize: none;
    color: var(--primary-black);
    padding: 10px;
  }
  form {
    padding: 10px;
    textarea {
      width: 300px;
    }
  }
  ul {
    padding-left: 10px;
    border-top: 1px solid #ddd;
    li {
      margin: 0;
      padding: 25px 0;
      list-style: none;
      width: 80%;
      section {
        width: 170px;
      }
      .comments-content {
        position: relative;
        width: 100%;
        p {
          width: 95%;
          overflow-wrap: break-word;
          word-break: break-all;
          hyphens: auto;
          overflow: hidden;
        }
        #likes {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 45px;
          right: 0;
          width: 50px;
          height: 30px;
          transition: all 0.5s ease;
          path {
            transition: all 0.3s ease;
          }
        }

        #svg-response {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 47px;
          right: 40px;
          width: 50px;
          height: 30px;
          transition: all 0.5s ease;
        }
        #trash {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -25px;
          right: -25px;
          width: 50px;
          height: 30px;
          transition: all 0.5s ease;
        }
      }
    }
    li:hover {
      color: var(--primary-black);
    }
    div {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      img {
        height: 30px;
        width: 30px;
        border-radius: 100%;
      }
      svg,
      img {
        margin-right: 10px;
      }
      section {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: start;
        padding-right: 20px;
        small {
          font-size: 10px;
        }
      }
    }
  }
  button {
    color: var(--primary-white);
  }
  .old-comments > h3 {
    padding-top: 50px;
  }
}

/* Portátiles y tablets */
@media only screen and (width <= 1200px) and (width >= 768px) {
  .comments {
    ul li .comments-content {
      p {
        width: 85%;
      }
    }
  }
}
/* Moviles */
@media only screen and (width <= 767px) {
  .comments {
    padding-left: 10px;
    ul li .comments-content {
      p {
        margin-bottom: 35px;
      }
    }
    ul {
      width: 90vw;
      li {
        width: 100%;
      }
    }
  }
}
