footer {
  text-align: center;
  background-color: var(--primary-black);
  height: 20dvh;
  width: 100vw;
  color: var(--primary-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid transparent;
  a {
    transition: color 0.2s;
    color: var(--primary-white);
    text-decoration: none;
  }
  a:hover {
    color: var(--primary-blue);
  }
  .svgIcons {
   margin-right: 10px;
    height: 25px;
    width: 25px;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
  }
}

@media only screen and (width <= 766px) {
  footer {
    text-align: start;
    section {
      padding: 10px;
      width: 40vw;
      .svgIcons {
        margin-left: 10px;
      }
    }
    section:first-of-type {
      width: 65vw;
    }
  }
}
