footer {
  text-align: center;
  background-color: var(--primary-black);
  height: 20dvh;
  width: auto;
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border-top: 1px solid transparent;
  a {
    color: var(--primary-white);
  }
  .svgIcons {
    padding-right: 10px;
    margin-left: 50px;
    height: 25px;
    width: 25px;
  }
}

/* @media only screen and (width <= 746) {

} */
