#hamburger {
  z-index: 999;
  position: absolute;
  left: 35px;
  top: 20%;
  height: 20px;
  width: 20px;
}

.auth {
  margin: 15px 0;
}

.menu-left {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 50px;
  user-select: none;
  display: flex;
  justify-content: start;
  flex-direction: column;
  position: absolute;
  left: -40px;
  top: -20px;
  color: var(--primary-white);
  background-color: var(--primary-black);
  height: 105dvh;
  width: 70vw;
  z-index: 1001;
  font-size: 1em;
  animation: slideDown 0.3s ease-out;
  .profile {
    padding-left: 20px;
  }
  .profile-icon {
    margin-top: 30px;
    height: 50px;
    width: 50px;
  }
  .auth {
    width: 100%;
    button {
      padding: 5px;
      border-radius: 3px;
      margin-left: 10px;
    }
  }
  .username {
    width: 70%;
    strong,
    small {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .svgIcons {
    display: none;
    z-index: 999;
  }
  nav {
    margin-left: 0;
    ul {
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin-bottom: 0;
      li {
        margin: 5px;
        border-top: 1px solid #ddd;
      }
    }
  }
}

.menu-left.closing {
  animation: slideUp 0.3s ease-out forwards;
}

.menu-left section {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0;
  padding-left: 50px;
  border-top: 2px solid #ddd;
  font-weight: 500;
}

.menu-left section:hover {
  color: var(--primary-blue);
}

.menu-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (width <= 1100px) and (width >= 768px) {
  .menu-left {
    width: 40vw;
  }
}
