header {
  position: sticky;
  top: 0;
  background-color: var(--primary-white);
  width: 100%;
  height: 10vh;
  z-index: 1000;
  box-sizing: border-box;

  .header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;

    #logo {
      z-index: 120;
      height: 45px;
      width: auto;
      border-radius: 3px;
      margin-left: 5vw;
      filter: drop-shadow(0 0 0.5rem var(--primary-blue));
    }

    a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      transition: all 0.25s;
      z-index: 999;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.25s;
      height: 6vh;
    }

    li:hover {
      background-color: var(--primary-blue);
      a {
        color: var(--primary-white);
      }
    }

    nav {
      z-index: 120;
      padding-top: 8px;
      padding-left: 7vw;
      ul {
        list-style-type: none;
        display: flex;
        li {
          padding: 0 10px;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }

    .svgIcons {
      margin-right: 10px;
      height: 30px;
      transition: fill 0.3s, stroke 0.2s;
    }

    .svgIcons:hover {
      fill: #ddd;
    }

    .auth {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        background-color: var(--primary-blue);
        color: var(--primary-white);
        padding: 10px;
        margin: 5px;
      }
      button:hover {
        color: var(--primary-black);
      }
      #register,
      #sign-in {
        border: 2px solid transparent;
        transition: all 0.3s;
      }
    }
    .nav-icons {
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .div-lang {
      position: relative;
      cursor: pointer;
      #modal-languajes {
        border-radius: 10px;
        position: absolute;
        top: 100%;
        left: -20px;
        padding: 10px;
        z-index: 100;
        a:hover {
          color: var(--primary-blue);
        }
      }
    }
    .exit-publication {
      position: absolute;
      right: 20px;
      top: 12px;
    }
    .exit-header {
      margin-right: 10px;
      svg {
        padding: 0;
        margin: 5px;
      }
    }
  }
}

header #sect {
  position: absolute;
  top: 0;
  .waves {
    height: 10vh;
    position: relative;
    opacity: 0.5;
    .wave {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100vw;
      height: 10vh;
      background: url(/img/wave.webp);
      background-size: 1000px 10vh;
    }
    #wave1 {
      opacity: 1;
      bottom: 0;
      z-index: 100;
      animation: animate 4s linear infinite;
    }
    #wave2 {
      opacity: 0.5;
      bottom: 10px;
      z-index: 99;
      animation: animate 4s linear infinite;
    }
    #wave3 {
      opacity: 0.2;
      bottom: 15px;
      z-index: 98;
      animation: animate 4s linear infinite;
    }
    #wave4 {
      opacity: 0.7;
      bottom: 20px;
      z-index: 99;
      animation: animate 4s linear infinite;
    }
  }
}

/* Portátil and tablet */
@media only screen and (width <= 1200px) and (width > 766px) {
  header .header {
    #logo {
      margin-left: 10px;
    }
    nav {
      padding: 0;
      ul {
        margin: 0;
      }
    }
  }
}

/* Moviles */
@media only screen and (width <= 766px) {
  header {
    height: 7dvh;
    .header {
      z-index: 999;
      align-items: end;
      justify-content: center;
      height: 50px;
      nav {
        margin-left: 0;
        ul > li {
          font-size: 1em;
          padding: 0 5px;
        }
      }
      .div-lang {
        #modal-languajes {
          top: -90%;
          left: 80px;
        }
      }
    }
    #sect {
      top: 6.5dvh;
      .waves {
        height: 0.5dvh;
      }
    }
  }
}
