@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@font-face {
  font-family: "nemesis";
  src: url("/nemesis/nemesis.otf");
}

:root {
  line-height: 1.5;
  font-weight: 400;

  --primary-blue: #2c4ace;
  --secondary-blue: #87d9ff;
  --primary-white: #f0faff;
  --secondary-white: #ffffff;
  --secondary-white: rgb(228, 239, 255);
  --primary-black: #1f2028;
  --secondary-black: #161824;
  --primary-yellow: #ffbd59;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  scrollbar-gutter: stable;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--primary-blue);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

li {
  transition: color 0.25s;
}

svg {
  transition: color 0.25s;
}

/* Estilos para tema claro */
html.light {
  background-color: var(--primary-white);
  color: var(--primary-black);
  transition: background-color 0.3s ease, color 0.1s ease;
  header {
    transition: background-color 0.3s ease, color 0.1s ease;
    nav > ul > li a {
      color: var(--primary-black);
    }
    #modal-languajes {
      border: 1px solid #ddd;
      background-color: var(--primary-white);
      a {
        color: var(--primary-black);
      }
    }
    .menu-left {
      background-color: var(--primary-white);
      color: var(--primary-black);
      #modal-languajes {
        border: 1px solid #ddd;
        background-color: var(--primary-white);
        a {
          color: var(--primary-black);
        }
      }
    }
  }
  body {
    background-color: var(--primary-white);
    .error {
      background-color: var(--primary-white);
      color: var(--primary-black);
    }
  }
}

/* Estilos para tema oscuro */
html.dark {
  transition: background-color 0.3s ease, color 0.1s ease;
  header {
    #logo {
      filter: drop-shadow(0 -10px 1rem black);
    }
    color: var(--primary-white);
    background-color: var(--primary-black);
    transition: background-color 0.3s ease, color 0.1s ease;
    nav > ul > li a {
      color: var(--primary-white);
    }
    .auth .modal-auth {
      color: var(--primary-white);
      background-color: var(--primary-black);
      .googleAuth,
      .facebookAuth {
        border: 2px solid var(--primary-white);
      }
    }
    .menu-left {
      background-color: var(--primary-black);
      color: var(--primary-white);
    }
  }
  body {
    background-color: var(--primary-black);
    color: var(--primary-white);

    main {
      background-color: var(--primary-black);
      color: var(--primary-white);
    }

    .main-newsletter .freecontent-section .freecontent-article .freecontent-content > #formulario {
      .form-group label {
        background-color: var(--primary-black);
      }
      .form-group input {
        color: var(--secondary-white);
      }
      .form-group-select {
        label {
          background-color: var(--primary-black);
        }
        .mult-select-tag ul {
          background-color: var(--primary-black);
        }
        .mult-select-tag {
          .input-body {
            background-color: var(--primary-black);
            input {
              color: var(--primary-white);
            }
          }
          button {
            color: var(--primary-white);
          }
        }
      }
    }

    /* Main */
    .main-index {
      .main-content {
        background-image: linear-gradient(180deg, rgb(111, 96, 196) 0%, rgb(28, 53, 165) 74%);
      }
      .div-pracing {
        color: var(--primary-white);
        .flex-cards .card-pracing {
          background-color: var(--secondary-black);
        }
      }
      .main-carrousel {
        background-color: var(--secondary-black);
      }
    }

    /* Publicaciones */
    .publication-main {
      .publication figure {
        background-color: var(--secondary-black);
      }
      .comments {
        background-color: var(--primary-black);
        .old-comments > ul > li:hover {
          color: var(--primary-white);
        }
      }
    }

    /* Blog */
    .main-blog #blog .card-blog {
      background-color: var(--secondary-black);
      color: var(--primary-white);
    }

    /* Acccount */
    .main-account {
      color: var(--primary-white);
      .ac-content {
        background: var(--secondary-black);
      }
      .ac-backdrop-img {
        background-color: var(--primary-black);
      }
      input {
        color: var(--primary-white);
      }
    }
    /* Contact */
    .container {
      background-color: var(--primary-black);
    }
    .container > .form {
      background-color: var(--primary-black);
      border: 2px solid #353535;
      p {
        color: white;
      }
    }
    .big-circle:after {
      background-color: var(--primary-black);
    }
    .upload-publication {
      color: var(--primary-black);
    }

    /* Newsletter */
    .main-newsletter {
      .freecontent-section .freecontent-article .freecontent-content .form-group {
        label {
          background-color: var(--primary-black);
        }
        input,
        select {
          color: var(--primary-white);
        }
      }
    }
  }
  footer {
    border-top: 1px solid #ddd;
  }
}

@media (width <= 768px) {
  html.dark body {
    .container > .form {
      border: none;
    }
    .main-blog {
      background-color: var(--secondary-black);
      #blog {
        background-color: var(--secondary-black);
      }
    }
  }
}

@keyframes bgDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bgUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes reveal {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    background-color: #7e7e7e;
  }
  100% {
    background-color: #f3f8ff;
  }
}

@keyframes animate {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 50px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

.card-img-placeholder {
  position: relative;
  height: 200px;
  border-radius: 4px;
}

.card-img-placeholder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  animation: glow 3s infinite alternate;
}
