.publicationMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  .publication {
    .img-publication {
      height: 40vh;
      min-width: 20vw;
      max-width: 50vw;
      width: auto;
      object-fit: cover;
      border-radius: 5px;
      margin: auto;
    }
    height: fit-content;
    width: 50%;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2,
    .title-ph {
      width: 90%;
      text-align: center;
      align-self: center;
      margin-bottom: 50px;
      margin-top: 10px;
    }
    strong {
      margin-top: 35px;
      align-self: center;
      text-align: center;
    }
    figure {
      margin: 0;
      background-color: var(--secondary-white);
      width: 100vw;
    }

    p,
    .parragraf-ph {
      font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
      width: 100%;
      align-self: center;
      margin: 20px;
      padding: 20px;
    }
  }
}

/* Portátil and tablet */
@media only screen and (width <= 1200px) and (width > 766px) {
  .publicationMain {
    .publication {
      width: 80vw;
      .img-publication {
        width: 70vw;
      }
      h2,
      .title-ph {
        margin: 50px 0;
      }
    }
  }
}

/* Moviles */
@media only screen and (width <= 766px) {
  .publicationMain {
    .publication {
      width: 100%;
      h2,
      .img-publication {
        width: 70vw;
      }
      .title-ph {
        margin: 25px 0;
        text-align: center;
      }
      p,
      .parragraf-ph {
        margin: 10px;
        strong {
          font-size: 30px;
        }
      }
    }
    .oldComments {
      svg,
      img {
        min-width: 30px;
        padding: 0;
        margin: 0;
      }
      section {
        padding-left: 10px;
      }
    }
  }
}
