.mainBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  min-height: 80dvh;
}

#blog {
  min-height: 50vh;
  margin: auto;
  margin-top: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  width: 50%;
  .cardBlog {
    animation: reveal 0.5s ease-in-out both;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-white);
    color: var(--primary-black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 330px;
    width: 290px;
    overflow: hidden;
    transition: 0.25s;
    position: relative;
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit;
      font-weight: normal;
      .img-container {
        height: 200px;
        width: 100%;
        margin: 10px;
        overflow: hidden;
        position: relative;
        img {
          height: 200px;
          width: 100%;
          object-fit: cover;
          width: 100%;
          transition: transform 0.25s ease-in-out;
        }
      }
      p {
        width: 100%;
        padding: 20px;
        padding-top: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        text-overflow: ellipsis;
        white-space: normal;
        hyphens: auto;
        text-wrap: pretty;
      }
      h3 {
        width: 100%;
        text-align: center;
        padding: 20px;
        padding-top: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        text-overflow: ellipsis;
        white-space: normal;
        padding-bottom: 5px;
        font-size: 20px;
        hyphens: auto;
      }
    }
  }

  .cardBlog a:hover .img-container > img {
    transform: scale(1.1);
  }
}

@media only screen and (width <= 766px) {
  .mainBlog {
    background-color: var(--primary-white);
    color: var(--primary-black);
    display: flex;
    align-items: start;
    padding-bottom: 0;

    #blog {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      gap: 0;
      margin: 0;
      padding: 20px 0;

      .cardBlog {
        border: none;
        box-shadow: none;
        background-color: var(--primary-white);
        color: var(--primary-black);
        height: auto;
        width: 100vw;
        padding-top: 20px;

        h3 {
          padding-top: 10px;
          padding-left: 10px;
          font-size: 20px;
        }
      }
    }
  }
}
