.main-newsletter {
  max-width: 1000px;
  margin: auto;
  background-color: var(--primary-white);

  img,
  p,
  h1,
  h2,
  h3,
  h4 {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }

  button {
    background-color: rgb(13, 68, 141);
    width: 250px;
    padding: 15px 20px;
    color: var(--primary-white);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 5px solid rgb(10, 48, 101);
    box-shadow: 0px 5px rgb(10, 48, 101);
    transition: all 0.2s ease;
  }

  button:active {
    box-shadow: 0px 2px rgb(10, 48, 101);
    transform: translateY(4px);
  }

  .nw-articles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .nw-article {
      display: flex;
      align-items: center;
      width: 100%;
      figure {
        margin: 0 30px;
        .img-newsletter {
          margin: auto;
          height: 30vh;
          width: 20vw;
          object-fit: cover;
          border-radius: 3px;
        }
      }
      .article-content {
        padding: 50px 10px;
        flex-direction: column;
      }
    }
  }
}

.nw-freecontent {
  margin: auto;
  text-align: center;
  padding-top: 80px;
  h2 {
    margin: 0;
  }
  figure {
    .img-newsletter {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
      margin: auto;
      border-radius: 3px;
    }
  }
  p {
    margin: auto;
    width: 50%;
  }
  button {
    margin: 30px;
  }
  .freecontent-content {
    h4 {
      font-size: 20px;
    }
  }
}

.freecontent-felx {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 80px;
  padding-bottom: 5vh;
  p {
    width: 70%;
  }
  h3 {
    max-height: calc(1.2em * 2);
    min-height: 1.3em;
    line-height: 1.2em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-overflow: ellipsis;
  }
  p {
    padding: 0 15px;
    max-height: calc(1.2em * 6);
    line-height: 1.2em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    text-overflow: ellipsis;
  }
  figure {
    .img-newsletter {
      width: 40vh;
    }
  }
}

/* Portátil and tablet */
@media only screen and (width <= 1200px) and (width > 766px) {
  .main-newsletter .nw-articles .nw-article {
    figure {
      margin: 20px;
      .img-newsletter {
        width: 40vw;
      }
    }
  }
}

/* Moviles */
@media only screen and (width <= 766px) {
  .main-newsletter {
    article {
      padding: 50px 0;
    }

    .nw-articles {
      .nw-article {
        display: flex;
        align-items: center;
        flex-direction: column;
        figure {
          .img-newsletter {
            margin: 20px 0;
            width: 100vw;
            object-fit: contain;
          }
        }
        h2,
        h3 {
          text-align: center;
        }
        .article-content {
          padding: 0 50px;
          flex-direction: column;
        }
      }
    }

    .nw-freecontent {
      padding-top: 0;
      p,
      h4,
      h3 {
        width: 100%;
        padding: 10px 20px;
      }
      .freecontent-felx {
        align-items: flex-start;
        padding: 0;
        article {
          width: 50dvw;
          figure {
            .img-newsletter {
              height: 13vh;
              width: 20vh;
            }
          }
          button {
            width: 36vw;
            font-size: 13px;
          }
          h3 {
            padding: 0 15px;
            max-height: calc(1.2em * 2);
            line-height: 1.2em;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 4;
            text-overflow: ellipsis;
          }
          p {
            padding: 0 15px;
            max-height: calc(1.2em * 4);
            line-height: 1.2em;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
