#banner {
  width: 100%;
  height: 55vh;
  object-fit: cover;
  box-shadow: 0 1px 10px var(--primary-black);
  object-position: top;
}

body {
  background-color: var(--primary-white);
  color: var(--primary-black);
}

.main-index {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }

  #mainTitle {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    padding: 50px 0;
    margin-top: 50px;
    text-align: center;
    #title {
      text-shadow: 0 2px 2px var(--primary-blue);
      color: var(--primary-blue);
    }
    p {
      width: 100%;
      text-align: center;
      margin: auto;
      text-wrap: pretty;
      font-style: italic;
    }
  }
}

/* Portátil and Tablet */
@media only screen and (width <= 1200px) {
  #banner {
    object-position: center;
  }
}

/* Moviles */
@media only screen and (width <= 767px) {
  #banner {
    object-position: bottom;
    height: 50vh;
  }
  .main-index > #mainTitle {
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    p {
      padding: 0 30px;
      font-size: 13px;
    }
  }
  .main-index {
    #mainTitle {
      padding: 10px;
      margin-top: 50px;
      font-size: 15px;
      text-wrap: pretty;
      h1 {
        font-size: 40px;
      }
    }
    img {
      width: 100%;
    }
  }
}

#hprices {
  margin-left: 20px;
}

.divPracing {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
  width: 100vw;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-black);

  h2 {
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 50px;
    color: var(--primary-black);
    text-align: center;
  }

  .flex-card {
    display: flex;
    justify-content: center;
    align-items: center;
    .cardPracing {
      padding: 30px 0;
      margin: 0 30px;
      background-color: var(--secondary-white);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 350px;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      height: auto;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
        list-style: none;
        margin-bottom: 0;
        button {
          align-self: center;
          margin-top: 20px;
          border: 2px solid transparent;
          transition: all 0.2s;
        }
        button:hover {
          color: var(--primary-black);
        }
      }
      li::before {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2346d246" stroke="white" class=""><path fillRule="evenodd" d="M12.516 2.17a.75.75 0 0 0-1.032 0 11.209 11.209 0 0 1-7.877 3.08.75.75 0 0 0-.722.515A12.74 12.74 0 0 0 2.25 9.75c0 5.942 4.064 10.933 9.563 12.348a.749.749 0 0 0 .374 0c5.499-1.415 9.563-6.406 9.563-12.348 0-1.39-.223-2.73-.635-3.985a.75.75 0 0 0-.722-.516l-.143.001c-2.996 0-5.717-1.17-7.734-3.08Zm3.094 8.016a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" /></svg>');
        display: inline-block;
        width: 1.2em;
        height: 10px;
        margin-right: 8px;
      }
      .notPrivileges::before {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ff3333" class="size-6"><path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" /></svg>');
      }
      .price {
        display: flex;
        justify-content: center;
        align-items: end;
        small {
          margin-bottom: 35px;
        }
      }
    }
  }
}

/* POrtátiles and Tablets */
@media only screen and (width <= 1200px) and (width >= 767px) {
  .divPracing {
    .cardPracing {
      margin: 0 10px;
    }
  }
}
/* Moviles */
@media only screen and (width <= 767px) {
  .divPracing {
    margin: 100px 0;
    flex-direction: column;
    .flex-card {
      flex-direction: column;
      .cardPracing {
        width: 100vw;
        height: fit-content;
        border-radius: 0;
        margin: 0;
        border-top: 1px solid #ddd;
      }
    }
    h2 {
      width: 100vw;
      text-align: center;
      font-size: 30px;
      text-wrap: pretty;
      padding: 5px;
      font-size: 1.8em;
    }
    .cardPracing:first-child {
      margin-top: 0;
    }
  }
}
