.main-blog {
  padding-bottom: 100px;
  min-height: 80dvh;
  position: relative;

  #blog {
    margin: auto;
    margin-top: 50px;
    display: flex;
    height: auto;
    width: 60%;
    flex-wrap: wrap;
    gap: 20px;
    .card-blog {
      flex-grow: 1;
      flex-basis: 300px;
      animation: reveal 0.5s ease-in-out both;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      background-color: var(--secondary-white);
      color: var(--primary-black);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      border-radius: 5px;
      height: 330px;
      transition: 0.25s;
      position: relative;

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
        font-weight: normal;
        .img-container {
          height: 200px;
          width: 100%;
          /* Mirar si sobra este position relative */
          position: relative;
          overflow: hidden;
          img {
            margin: 10px 15px;
            padding-bottom: 0;
            border-radius: 3px;
            height: 100%;
            width: calc(100% - 15px);
            object-fit: cover;
            transition: transform 0.25s ease-in-out;
          }
        }
        p {
          width: 100%;
          padding: 30px;
          padding-top: 0;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          text-overflow: ellipsis;
          white-space: normal;
          hyphens: auto;
          text-wrap: pretty;
        }
        h3 {
          text-align: center;
          width: 100%;
          padding: 0 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          text-wrap: nowrap;
          padding-bottom: 5px;
          font-size: 20px;
          hyphens: auto;
        }
      }
    }

    .card-blog a:hover .img-container > img {
      transform-origin: center;
      transform: scale(1.1);
    }
  }
  .change-page {
    position: absolute;
    bottom: -15px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* Pagination.css */
    .custom-pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .page-item .page-link {
        color: var(--primary-black);
      }
    }

    .custom-pagination .page-item.active .page-link {
      background-color: #007bff;
      font-weight: 600;
      border-color: #007bff;
    }
  }
}

@media only screen and (width <= 1024px) {
  .main-blog {
    #blog {
      .card-blog:last-of-type {
        margin-bottom: 100px;
      }
    }
    .change-page {
      bottom: 0;
    }
  }
}
@media only screen and (width <= 766px) {
  .main-blog {
    background-color: var(--secondary-white);
    color: var(--primary-black);
    display: flex;
    align-items: start;
    padding-bottom: 0;
    #blog {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      margin: 0;
      padding-bottom: 20px;
      .card-blog {
        background-color: var(--secondary-white);
        color: var(--primary-black);
        width: 100vw;
        border: none;
        border-radius: 0;
        box-shadow: none;
        margin-top: 20px;
        margin-left: 0;
        &:first-child {
          margin-top: 0;
        }

        a {
          width: 100%;
          .img-container {
            margin: 0;
          }
          h3 {
            padding-top: 20px;
          }
        }
      }
    }
  }
}
