.main-reviews {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
  padding-bottom: 100px;
  h2 {
    font-family: 'Roboto Slab', Inter, system-ui, Avenir, Helvetica, Arial,
      sans-serif;
    text-align: center;
    padding: 20px 40px;
    font-weight: 600;
  }
  .main-carrousel {
    background-color: var(--secondary-white);
    width: 100vw;
    height: auto;
    #carrousel {
      width: 60vw;
      height: auto;
      margin: 0 auto;
      position: relative;
      .content-caption {
        height: 50vh;
        border-radius: 5px;
        .caption {
          width: 60%;
          height: 100%;
          margin: auto;
          margin-bottom: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h3 {
            padding-top: 10px;
            font-family: 'Roboto Slab', Inter, system-ui, Avenir, Helvetica,
              Arial;
            font-weight: 600;
            z-index: 1;
          }
          p {
            line-height: 1.5em;
            width: 100%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-height: 1.5em;
            z-index: 0;
            white-space: normal;
            font-size: clamp(14px, 2vw, 18px);
          }
        }
      }
    }
  }
}

/* Portátiles and Tablets */
@media only screen and (width <= 1200px) and (width > 766px) {
  .main-reviews .main-carrousel {
    #carrousel {
      width: 80vw;
    }
  }
}

/* Moviles */
@media only screen and (width <= 766px) {
  .main-reviews .main-carrousel {
    #carrousel {
      width: 100vw;
      .content-caption {
        height: 40vh;
        .caption {
          width: 70%;
          padding: 10px 0;
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
