#haboutme {
  font-weight: 600;
  font-size: 40px;
  font-family: "Roboto Slab", Inter, system-ui, Avenir, Helvetica, Arial;
  padding-bottom: 20px;
  margin-top: 50px;
}

.main-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-white);
  position: relative;

  .backgroundBanner {
    background-color: rgb(55, 131, 232);
    position: absolute;
    top: 126px;
    width: 100vw;
    height: 47vh;
    box-shadow: 0 0px 5px rgba(0, 4, 255, 0.5);
    z-index: 0;
  }

  .div-aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    text-align: center;
    padding-bottom: 200px;

    article {
      .img-aboutme {
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        height: 47vh;
        margin: auto;
        box-shadow: 0 0px 5px rgba(0, 4, 255, 0.5);
      }
      figcaption {
        font-size: 18px;
        margin: auto;
        padding-top: 20px;
        width: 40vw;
      }
    }
    article {
      animation: reveal linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 30%;
      h2 {
        font-family: "Roboto Slab", Inter, system-ui, Avenir, Helvetica, Arial;
        font-weight: 600;
        margin-top: 100px;
      }
    }
    p {
      margin: auto;
      width: 50%;
      text-wrap: pretty;
      strong {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (width <= 1200px) and (width >= 766px) {
  .main-aboutme {
    .div-aboutme {
      figure {
        .img-aboutme {
          height: 47vh;
        }
      }
      p,
      figure > figcaption {
        width: 80vw;
      }
    }
  }
}
@media only screen and (width <= 766px) {
  .main-aboutme {
    #haboutme {
      margin-top: 20px;
    }
    .backgroundBanner {
      display: none;
    }
    .div-aboutme {
      h2 {
        font-size: 2em;
      }
      .img-aboutme {
        margin-top: 10px;
        height: auto;
        width: 100vw;
        max-width: 100vw;
        object-fit: cover;
      }
      p,
      figure > figcaption {
        width: 80vw;
        font-size: 0.9em;
      }
      h2 {
        margin-top: 50px;
      }
    }
  }
}
