.publication-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  .publication {
    height: fit-content;
    width: 50%;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    figure {
      margin: 0;
      background-color: var(--secondary-white);
      width: 100vw;
    }
    .img-publication {
      height: 40vh;
      min-width: 20vw;
      max-width: 50vw;
      width: auto;
      object-fit: cover;
      border-radius: 5px;
      margin: auto;
    }
    h1 {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: bold;
      margin: 20px 0 40px 0;
      text-align: center;
      width: 80%;
    }
    strong {
      text-align: center;
      width: 80%;
      padding: 30px;
    }
    p {
      width: 80%;
      align-self: center;
      padding: 20px;
      padding-top: 0;
    }
  }
}

/* Portátil and tablet */
@media only screen and (width <= 1200px) and (width > 766px) {
  .publication-main {
    .publication {
      width: 80vw;
      .img-publication {
        width: 70vw;
      }
      h1 {
        font-size: 40px;
        margin: 50px 0;
      }
    }
  }
}

/* Moviles */
@media only screen and (width <= 766px) {
  .publication-main {
    .publication {
      h1 {
        font-size: 35px;
      }
      width: 100%;
      .img-publication {
        max-width: 100vw;
      }
      p,
      .parragraf-ph {
        margin: 10px;
        strong {
          font-size: 30px;
        }
      }
    }
    .old-comments {
      svg,
      img {
        min-width: 30px;
        padding: 0;
        margin: 0;
      }
      section {
        padding-left: 10px;
      }
    }
  }
}
