#haboutme {
  font-weight: 600;
  font-size: 40px;
  font-family: 'Roboto Slab', Inter, system-ui, Avenir, Helvetica, Arial;
  padding-bottom: 20px;
  margin-top: 50px;
}

.main-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-white);
  position: relative;

  .backgroundBanner {
    box-shadow: 0 0px 5px rgba(0, 4, 255, 0.5);
    background: linear-gradient(
      135deg,
      rgb(74, 134, 211) 0%,
      rgba(37, 67, 201, 0.7) 50%,
      rgba(28, 34, 116, 0.9) 100%
    );
    position: absolute;
    top: 126px;
    width: 100vw;
    height: 47vh;
    z-index: 0;
  }

  .div-aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    text-align: center;
    padding-bottom: 200px;

    #profile {
      width: 100%;
      align-items: center;
      gap: 20px;
      z-index: 1;
      color: var(--primary-white);

      figure {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        margin: 0;
      }

      .img-aboutme {
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        height: 47vh;
        margin: 0;
        flex-shrink: 0;
      }

      figcaption {
        padding: 10px;
      }
    }

    .custom-articles {
      ul {
        text-align: start;
        width: 80%;
        margin: auto;
      }
      figcaption {
        font-size: 18px;
        margin: auto;
        padding-top: 20px;
        width: 40vw;
      }
    }
    .custom-articles {
      animation: reveal linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 30%;
      h2 {
        font-family: 'Roboto Slab', Inter, system-ui, Avenir, Helvetica, Arial;
        font-weight: 600;
        margin-top: 100px;
      }
    }
    p {
      margin: auto;
      width: 50%;
      text-wrap: pretty;
      strong {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (width <= 1250px) and (width >= 766px) {
  .main-aboutme {
    .backgroundBanner {
      height: 90vh;
    }
    .div-aboutme {
      #profile {
        padding-top: 30px;
        figure {
          flex-direction: column;
          align-items: center;
        }
      }
      figure {
        .img-aboutme {
          height: 47vh;
        }
      }
      p,
      figure > figcaption {
        width: 80vw;
      }
    }
  }
}

@media only screen and (width <= 766px) {
  .main-aboutme {
    #haboutme {
      margin-top: 20px;
    }
    .backgroundBanner {
      height: 80vh;
    }
    .div-aboutme {
      #profile {
        padding-top: 30px;
        figure {
          flex-direction: column;
          align-items: center;
        }
      }
      h2 {
        font-size: 2em;
      }
      .img-aboutme {
        margin-top: 10px;
        height: auto;
        width: 100vw;
        max-width: 100vw;
        object-fit: cover;
      }
      p,
      figure > figcaption {
        width: 80vw;
        font-size: 0.9em;
      }
      h2 {
        margin-top: 50px;
      }
    }
  }
}
