.main-index {
  h2 {
    margin-top: 100px;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
  .main-title {
    padding: 10vh 30px 35vh 30px;
    text-align: center;
    width: 100vw;
    #title {
      text-shadow: 0 3px 3px var(--primary-blue);
      color: var(--primary-blue);
      text-wrap: pretty;
      margin-bottom: 100px;
      font-size: 60px;
      font-weight: 600;
    }
    strong {
      font-size: 22px;
      text-align: center;
      font-family: "Roboto Slab", Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
    }
    figure {
      margin: auto;
      display: flex;
      justify-content: center;
      max-width: 1000px;
      align-items: center;
      flex-direction: row-reverse;
      .banner {
        height: 50vh;
        border-radius: 3px;
        object-fit: contain;
        object-position: bottom;
        box-shadow: 0 1px 3px var(--primary-black);
      }
      figcaption {
        font-family: alegreya-sans;
        text-align: start;
        padding: 20px;
        padding-left: 0;
        width: 80%;
        font-size: 18px;
        span {
          font-size: 30px;
          color: var(--primary-blue);
          font-weight: 600;
          text-shadow: 0 1px 1px var(--primary-blue);
        }
      }
    }
  }

  .main-content {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    width: 100vw;
    /* background-color: rgb(55, 131, 232); */
    background-color: rgb(55, 131, 232);
    background-size: cover;
    position: relative;
    padding: 0 20px;
    overflow: hidden;
    color: var(--primary-white);
    box-shadow: 0 1px 10px rgb(55, 131, 232);

    h2 {
      margin-top: 0;
    }

    .planta {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      height: 100%;
    }

    .planta.left {
      left: 0;
      filter: opacity(0.5);
    }

    .planta.right {
      transform: rotate(180deg);
      right: 0;
      filter: opacity(0.5);
    }

    .achievements-section {
      animation: reveal linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 30%;
      max-width: 900px;
      margin: auto;
      padding-bottom: 50px;
      ul {
        list-style: none;
      }
      h2 {
        font-family: "Roboto Slab", Inter, system-ui, Avenir, Helvetica, Arial,
          sans-serif;
        font-weight: 600;
        text-align: center;
        padding: 50px;
      }
      h4 {
        font-family: "Roboto Slab", Inter, system-ui, Avenir, Helvetica, Arial,
          sans-serif;
        padding: 5px 0;
      }
    }
  }

  .div-pracing {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    color: var(--primary-black);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
    margin-top: 100px;
    h2 {
      font-family: "Roboto Slab", Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
      padding: 20px;
    }
    .flex-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .card-pracing {
        background-color: var(--secondary-white);
        display: flex;
        justify-content: space-around;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        align-items: center;
        flex-direction: column;
        padding: 30px 0;
        margin: 30px;
        width: 400px;
        height: fit-content;
        min-height: 540px;
        border-radius: 3px;
        padding: 20px;
        h3 {
          font-family: "Roboto Slab", Inter, system-ui, Avenir, Helvetica, Arial;
          font-weight: 600;
        }
        button {
          width: 200px;
          padding: 10px 20px;
          margin: 40px auto 20px auto;
          color: var(--primary-white);
          border: none;
          border-radius: 3px;
          font-size: 15px;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.2s ease;
          background-color: rgb(40, 67, 187);
          border-bottom: 5px solid rgb(25, 53, 146);
          box-shadow: 0px 5px rgb(25, 53, 146);
        }

        button:active {
          box-shadow: 0px 2px rgb(25, 53, 146);
          transform: translateY(4px);
        }

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          list-style: none;
          margin-bottom: 0;
          li::before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23a8e6cf" viewBox="0 0 24 24" stroke-width="2" stroke="%2300d1b2" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" /></svg>');
            display: inline-block;
            width: 1.2em;
            height: 1.2em;
            margin-right: 5px;
          }
        }
        .price-classes {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          small {
            margin-left: 5px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .main-reviews {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    padding-bottom: 100px;
    h2 {
      font-family: "Roboto Slab", Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
      text-align: center;
      padding: 20px 40px;
      font-weight: 600;
    }
    .main-carrousel {
      background-color: var(--secondary-white);
      width: 100vw;
      height: 40vh;
      #carrousel {
        width: 40vw;
        height: 100%;
        margin: 0 auto;
        position: relative;
        .content-caption {
          height: 40vh;
          border-radius: 5px;
          .caption {
            width: 60%;
            height: 100%;
            margin: auto;
            margin-bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 20px;
            h3 {
              font-family: "Roboto Slab", Inter, system-ui, Avenir, Helvetica,
                Arial;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

/* Portátiles and Tablets */
@media only screen and (width <= 1200px) and (width > 766px) {
  .banner {
    object-position: center;
  }
  .main-index {
    .main-content {
      .planta.rigth {
        right: -10%;
      }
    }
    .main-reviews .main-carrousel {
      #carrousel {
        width: 70vw;
        .content-caption {
          .caption {
            top: 35%;
          }
        }
      }
    }
  }
}

/* Moviles */
@media only screen and (width <= 766px) {
  .main-index {
    .main-title {
      padding-top: 20px;
      #title {
        font-size: 45px;
        margin-bottom: 50px;
        padding: auto 10px;
      }
      strong {
        font-size: larger;
      }
      figure {
        flex-direction: column;
        .banner {
          height: 30vh;
        }
        figcaption {
          padding: 0;
          padding-top: 20px;
          font-family: "Roboto Slab", Inter, system-ui, Avenir, Helvetica, Arial,
            sans-serif;
          width: 100%;
          font-size: medium;
        }
      }
    }
    .main-content {
      .planta {
        display: none;
      }
      h2 {
        font-size: 23px;
        padding-bottom: 20px;
      }
      ul {
        padding: 0;
      }
    }
    .div-pracing {
      margin: 100px 0;
      margin-bottom: 0;

      .flex-cards {
        .card-pracing {
          width: 100vw;
          height: fit-content;
          border-radius: 0;
          margin: 0;
          min-height: 0;
          border-top: 1px solid #ddd;
          box-shadow: none;
        }
      }
    }
    .main-reviews .main-carrousel {
      #carrousel {
        width: 100vw;
        .content-caption {
          .caption {
            width: 70%;
            /* background-color: red; */
            padding: 10px 0;
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
