#haboutme {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  margin-top: 50px;
}

.main-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-white);
  .div-aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    text-align: center;
    padding-bottom: 200px;
    figure {
      img {
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        border-radius: 5px;
        width: 40vw;
        height: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: auto;
      }
      figcaption {
        font-size: 15px;
        margin: auto;
        margin-top: 10px;
      }
    }
    article {
      animation: reveal linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 30%;
    }
    p {
      margin: auto;
      width: 50%;
      text-wrap: pretty;
      strong {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (width <= 1200px) and (width >= 766px) {
  .main-aboutme {
    .div-aboutme {
      img {
        width: 70vw;
      }
      p,
      figure > figcaption {
        width: 80vw;
      }
    }
  }
}
@media only screen and (width <= 766px) {
  #haboutme {
    margin: 20px 0;
    text-align: center;
  }
  .main-aboutme {
    .div-aboutme {
      padding-bottom: 100px;
      p,
      figure > figcaption {
        width: 80vw;
        font-size: 0.8em;
      }
      h2 {
        margin-top: 50px;
      }
      figure img {
        width: 80vw;
      }
    }
  }
}
