.mainBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

#blog {
  min-height: 50vh;
  margin: auto;
  margin-top: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  width: 50%;
  #emptyTitle {
    width: 70vw;
    text-align: center;
  }
  .cardBlog {
    animation: reveal 0.5s ease-in-out both;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-white);
    color: var(--primary-black);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 330px;
    width: 290px;
    text-align: start;
    overflow: hidden;
    transition: 0.25s;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .img-container {
        height: 200px;
        width: 300px;
        overflow: hidden;
        position: relative;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: transform 0.25s ease-in-out;
          position: absolute;
        }
      }
      p {
        width: 250px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        text-overflow: ellipsis;
        white-space: normal;
        text-wrap: pretty;
      }
    }
  }

  .cardBlog a > .img-container > .cardBlog h3 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
  }

  .cardBlog:hover .img-container > img {
    transform: scale(1.1);
  }

  .cardBlog:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }
}

@keyframes reveal {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.card-img-placeholder {
  position: relative; /* Asegura que el contenedor sea relativo */
  height: 200px; /* Altura deseada del marcador de posición */
  border-radius: 4px; /* Opcional: Añade bordes redondeados */
}

.card-img-placeholder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Hereda el borde redondeado del contenedor */
  animation: glow 3s infinite alternate; /* Animación de glow */
}

@keyframes glow {
  0% {
    background-color: #7e7e7e;
  }
  100% {
    background-color: #f3f8ff;
  }
}

@media only screen and (width <= 766px) {
  .mainBlog {
    background-color: var(--secondary-white);
    color: var(--primary-black);
    display: flex;
    justify-content: center;
    align-items: center;

    #blog {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      margin: 5vh 0;

      .cardBlog {
        border: none;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        background-color: var(--primary-white);
        color: var(--primary-black);
        height: 350px;
        width: 80vw;

        a > #lala {
          height: 350px;
          width: 290px;
          #holder {
            width: 100px;
          }
        }

        h3 {
          padding-top: 10px;
          padding-left: 10px;
          font-size: 20px;
        }
      }
    }
  }
}
