.auth .modal-auth {
  position: fixed;
  top: 50dvh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: var(--primary-white);
  color: var(--primary-black);
  padding: 20px;
  border-radius: 5px;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 50px 130px;

  .modalContent > h1 {
    padding-top: 20px;
  }

  .login-form {
    padding: 10px;
    min-width: 310px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: medium;
    box-sizing: border-box;

    label:first-of-type {
      input {
        margin-left: 40px;
      }
    }
    label {
      width: 100%;
    }
    .inputs {
      outline: none;
      margin: 5px 10px;
      border-radius: 3px;
      border: 1px solid #e2e2ed;
      color: var(--primary-black);
      background-color: var(--primary-white);
      border-radius: 5px;
      width: 300px;
      margin-left: 10px;
      padding-left: 7px;
      background-color: #fff;
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      transition:
        transform 0.2s,
        -webkit-transform 0.2s;
      transition: border 0.3s;
    }
    .inputs:focus {
      border-color: #09abc3;
    }

    button[type='submit'] {
      background-color: var(--primary-blue);
      padding: 5px;
      border-radius: 5px;
      margin: 50px 0 20px 0;
      text-align: center;
      width: 100%;
    }
    small {
      align-self: flex-end;
    }
  }

  section {
    max-width: 390px;
    margin: 10px;
  }

  .providers-log {
    margin: auto;
    width: 390px;
    .googleAuth,
    .facebookAuth {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 2px solid var(--primary-black);
      margin-bottom: 10px;
      min-height: 30px;
      .providers {
        margin-left: 10px;
      }
    }
  }
}

/* Portátil y tablets */
@media (width <= 1200px) and (width >= 767px) {
  .modal-auth {
    .login-form {
      align-items: end;
      width: 430px;
    }
  }
}

/* Moviles */
@media only screen and (width <= 766px) {
  .menu-left .auth .modal-auth {
    left: 40vw;
    height: fit-content;
    width: 90vw;
    padding: 20px;
    padding-top: 0;
    .login-form {
      label:first-child {
        width: 100%;
      }
      label {
        align-self: flex-start;
      }
      .inputs {
        width: 185px;
      }
      .password-container {
        width: 190px;
        svg {
          margin-right: 20px;
        }
      }
      button[type='submit'] {
        width: 290px;
        margin: 50px auto 10px auto;
      }
    }

    .providers-log {
      width: 290px;
      margin: auto;
    }

    .modal-content > h1 {
      padding-top: 50px;
      font-size: 40px;
    }
  }
}
