.modalAuth {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  color: var(--primary-black);
  padding: 20px;
  border-radius: 5px;
  width: fit-content;
  height: 40vh;
  padding: 0 50px;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  .modalContent > h2 {
    margin-top: 0;
  }

  .modalContent > h2 {
    padding-top: 20px;
  }
  .login-form {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    input {
      margin: 5px 0;
      font-size: medium;
      border-radius: 3px;
      border: 1px solid #ccc;
      color: var(--primary-black);
      background-color: var(--primary-white);
      border-radius: 5px;
      width: 200px;
      margin-left: 10px;
    }
  }

  .closeAuth {
    position: absolute;
    right: 20px;
    top: 10px;
    transition: color 0.3s;
    background-color: rgb(230, 52, 105);
    padding: 0 6px;
    border-radius: 5px;
  }

  .closeAuth:hover {
    color: var(--primary-white);
  }

  button[type="submit"] {
    background-color: var(--primary-blue);
    padding: 3px;
    border-radius: 5px;
    margin: 10px 0 40px 0;
    text-align: center;
    width: 100%;
  }

  .googleAuth {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    border: 2px solid var(--primary-black);
    #svgGoogle {
      margin-left: 10px;
    }
  }
}

.modalBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalBackdropLog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Moviles */
@media only screen and (width <= 767px) {
  .modalAuth {
    height: fit-content;
    width: fit-content;
    padding: 20px;
    padding-top: 0;
    label {
      text-align: start;
    }
  }
}

/* @media (width <= 1200px) {
} */
