.modalContent,
.error {
  .password-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .password-container {
    margin: 5px 10px;
    position: relative;
    width: 300px;
    height: 2rem;
    background-color: #fff;
    overflow: hidden;
    transition: border 0.2s;
    border: 1px solid #e2e2ed;
    border-radius: 3px;
  }

  .password-container:focus-within {
    border-color: #09abc3;
  }

  .password-container input {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 3em;
    border: none;
    background-color: transparent;
    color: #000;
    transform: translateY(0);
    transition: transform 0.2s;
    margin: 0;
    padding: 8px;
    padding-bottom: 28px;
  }

  .password-container input:focus {
    outline: none;
  }

  .password-container .text-field,
  .password-container .password-field {
    transition: transform 0.2s;
  }

  .password-container .password-field {
    transform: translateY(-70%);
  }

  .password-container .btn {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 10px;
    margin-left: 10px;
  }

  .password-container .btn:focus {
    outline: none;
  }

  .password-container .btn svg {
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  .password-container .btn svg .top,
  .password-container .btn svg .bottom,
  .password-container .btn svg .lashes {
    fill: none;
    stroke: #1e1e1e;
    transform-origin: center;
    transition: 0.3s ease;
  }

  .password-container .btn svg .lashes {
    stroke-dasharray: 3px;
    stroke-dashoffset: 3px;
  }

  .password-container .btn svg .eye {
    fill: #1e1e1e;
    transform-origin: center;
    transition: 0.3s ease;
  }

  .password-container.show .text-field {
    transform: translateY(-70%);
  }

  .password-container.show .password-field {
    transform: translateY(0);
  }

  .password-container.show .btn svg .lashes {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }

  .password-container.show .btn svg .eye {
    transform: translateY(1px) scale(0);
  }

  .password-container.show .btn svg .top {
    transform: rotateX(-90deg);
  }

  .providers-log {
    max-width: 390px;
    margin-left: 10px;
  }
}
