#upload {
  position: fixed;
  top: 13dvh;
  right: 12vw;
  height: 60px;
  width: 60px;
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 255, 123);
  color: var(--primary-black);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 100% !important;
  padding: 20px;
  animation: bgDown 0.3s ease-out;
  .svgIcons:hover {
    color: var(--primary-white);
  }
}

.uploadPublication {
  animation: bgDown 0.3s ease-out;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 20px;
  height: auto;
  width: 40vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.5);
}

.uploadPublication h3 {
  color: var(--primary-black);
  margin-top: 10px;
  text-align: center;
}

.uploadPublication form ul {
  margin: 0;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  list-style: none;
}

.uploadPublication form ul li {
  margin: 10px 0;
  width: 100%;
  user-select: none;
  color: var(--primary-black);
}

.uploadPublication form ul li input {
  color: var(--primary-black);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  width: calc(100% - 20px);
  box-sizing: border-box;
  margin-left: 10px;
  padding-left: 5px;
}

.uploadPublication form ul li p {
  color: rgb(235, 46, 46);
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

.uploadPublication form ul li label p {
  color: var(--primary-black);
  font-weight: normal;
}

.uploadPublication form ul li:hover {
  background-color: transparent;
}

.uploadPublication .custom-file-upload {
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
  color: var(--primary-black);
  border-radius: 5px;
  border: 2px dashed var(--primary-blue);
  width: 100%;
  text-align: center;
}

.uploadPublication .custom-file-upload input[type="file"] {
  display: none;
}

.uploadPublication .custom-file-upload img {
  min-width: 20vw;
}

.uploadPublication textarea {
  resize: none;
  background-color: transparent;
  border-color: #ddd;
  color: var(--primary-black);
  padding: 10px;
  height: auto;
  width: 100%;
}

.uploadPublication #submitPost {
  background-color: var(--primary-blue);
  margin-top: 20px;
  align-self: flex-end;
  border-radius: 5px;
}

.uploadPublication #submitPost:hover {
  background-color: var(--secondary-blue);
}

.uploadPublication.closing {
  animation: bgUp 0.3s ease-out forwards;
}

/* Portátiles y Tablets */
@media only screen and (width > 766px) and (width <= 1000px) {
  #upload {
    top: 11dvh;
  }
  .uploadPublication {
    width: 50vw;
    form ul {
      padding: 0 20px;
    }
  }
}

/* Moviles */
@media only screen and (width <= 766px) {
  #upload {
    top: 0vh;
    right: 40vw;
  }
  .uploadPublication {
    width: 90vw;
    margin-top: 20px;
    form ul {
      padding: 0 20px;
    }
  }
}
