#upload {
  position: absolute;
  top: 13dvh;
  right: 12vw;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 255, 123);
  color: var(--primary-black);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  padding: 20px;
  animation: bgDown 0.3s ease-out;
  .svgIcons:hover {
    color: var(--primary-white);
  }
}

#upload:hover {
  background-color: rgb(0, 255, 145);
  color: var(--primary-white);
}

#upload .closing {
  animation: bgUp 0.3s ease-out forwards;
}

.uploadPublication {
  animation: bgDown 0.3s ease-out;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 20px;
  height: 48vh;
  width: 40vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
  h3 {
    text-align: center;
  }
  form ul {
    margin: 0;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    list-style: none;

    li {
      margin: 10px 0;
      width: 100%;
      user-select: none;
      color: var(--primary-black);
      input {
        color: var(--primary-black);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ddd;
        width: calc(100% - 20px);
        box-sizing: border-box;
        margin-left: 10px;
        padding-left: 5px;
      }
      p {
        color: rgb(255, 0, 68);
        margin-top: 10px;
        text-align: center;
      }
    }

    li:hover {
      background-color: transparent;
    }

    input[type="file"] {
      border: none;
      margin-left: 0;
      width: 100%;
      margin-top: 50px;
      text-align: center;
    }
  }
  #submitPost {
    background-color: var(--primary-blue);
    margin-top: 20px;
    align-self: flex-end;
  }
  #submitPost:hover {
    background-color: var(--secondary-blue);
  }
}

.uploadPublication.closing {
  animation: bgUp 0.3s ease-out forwards;
}

/* Portátiles y Tablets */
@media only screen and (width > 766px) and (width <= 1000px) {
  #upload {
    top: 11dvh;
  }
  .uploadPublication {
    padding: 20px;
    height: 48vh;
    width: 50vw;
    form ul {
      padding: 0 20px;
    }
  }
}

/* Moviles */
@media only screen and (width <= 766px) {
  #upload {
    top: 0;
    right: -25vw;
  }
}

@keyframes bgDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bgUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
